
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/pintuer.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.datePicker-min.js"></script>
<link type="text/css" href="css/datepicker.css" rel="stylesheet" />
<script type="text/javascript">
$(function(){
  
    $(document).ready(function(){
	
	    $("#datepicker").datePicker({
		    clickInput:true
	    });
	    $("#date").datePicker({
		    clickInput:true
	    });
	
    });
    $("#slt").change(function(){
       $(this).nextAll().remove()
       var pid = $(this).val()
       if(pid==0){
	      return false
		}
		
		$.ajax({
		    type:"post",
		    url:'protype_sel',
			data:{pid:pid},
			dataType:"json",
			success:function(msg){
			    var str = '<div class="tips">'
			    if(msg!==0){
				   str+=''
				   $.each(msg,function(k,v){
				       str+='<input type="checkbox" name="month[]" value="'+v.pro_t_id+'"  >'+v.pro_t_name+'&nbsp;&nbsp;'
				   
				   })
				   str+='</div>'
				   $("#slt").after(str)
				}
			}
		
		})

    })

})

</script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 创建优惠券</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="coupon_add_do">      
      <div class="form-group">
        <div class="label">
          <label>优惠金额：</label>
        </div>
        <div class="field">
          <input type="text" style="width:300px;" class="input" name="coupon_name" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>使用期限开始：</label>
        </div>
        <div class="field">
           <input type="text" style="width:200px;" class="input" name="start_time"  id="date" value="" />
		   
        </div>
      </div>
	  <div class="form-group">
        <div class="label">
          <label>使用期限结束：</label>
        </div>
        <div class="field">
           
		   <input type="text" style="width:200px;" class="input" name="end_time" id="datepicker" value="" />
        </div>
      </div>
	  
      <div class="form-group">
        <div class="label">
          <label>最低投资：</label>
        </div>
        <div class="field">
          <input type="text" style="width:200px;" class="input" name="money" id="" value="" />
          <div class="tips"></div>
        </div>
      </div>
	  <div class="form-group">
        <div class="label">
          <label>是否注册就送：</label>
        </div>
        <div class="field">
		
          <input type="radio"  class="" name="is_ok" id="" value="1" />是
		  <input type="radio"  class="" name="is_ok" id="" value="0" />否
          <div class="tips"></div>
        </div>
      </div>
	  <div class="form-group">
        <div class="label">
          <label>选择使用产品：</label>
        </div>
        <div class="field">
		
          <select name="protype_id" class="input" style="width:150px;" id="slt">
             <option value="0">--请选择--</option>
             
              {volist name="data" id="v"}
              <option value="{$v.pro_t_id}">{$v.pro_t_name}</option>
              {/volist}
              

           </select>
		   
        </div>
      </div>
	  
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>